<!DOCTYPE html>
<html>
  <head>
    <title>#title#</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/style.css" />
  </head>

  <body>
    <div id="app">
      <h1>#title#</h1>
      <div>#content#</div>
      <a href="#href#">#text#</a>
    </div>
  </body>
</html>